.container h1 {
  text-align: center;
}
.display {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  gap: 3%;
}
input {
  padding: 6px 12px;
  font-size: 20px;
  border-radius: 6px;
}
button {
  font-size: 25px;
  border-radius: 5px;
  background: green;
  color: aliceblue;
  cursor: pointer;
}
