body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* background-color: yellow; */
  margin-top: 3%;
  min-width: 400px;
  height: 100%;
  min-height: 300px;
  text-align: center;
  position: relative;
}
h1 {
  font-weight: bolder;
}

.time {
  font-size: 5em;
  font-weight: lighter;
  position: absolute;
  display: flex;
  color: rgb(56, 48, 48);
  left: 25%;
  top: 35%;
}

.buttons {
  position: absolute;
  display: flex;
  top: 90%;
  gap: 43px;
  left: 10%;
}

#start {
  color: white;
  background: green;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  transition: background 0.4s;
}
#start:hover {
  background: rgb(33, 173, 33);
}
#stop {
  color: white;
  background: rgb(164, 14, 14);
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  transition: background 0.4s;
}
#stop:hover {
  background: red;
}
#reset {
  color: white;
  background: rgb(60, 58, 58);
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  transition: background 0.4s;
}
#reset:hover {
  background: rgb(167, 163, 163);
}
